.itemContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: yellowgreen;
}
.groceryHeader {
    margin-bottom: 0px;
}
.listItem {
    color: white;
    list-style: none;
    padding: 10px;
    font-size: 1.4rem;
}
.editList {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.deleteButton {
    padding: 2px;
    height: 30px;
    background-color: red;
    font-weight: bold;
}
.deleteButton:hover {
    cursor: pointer;
}
.editInput {
    color: black;
}
