.shoppingContainer {
    background-color: #282c34;
    min-height: 100vh;
    min-width: 100vw;
    font-family:fantasy, sans-serif;
    font-size: larger;
}
.inputField {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    color: yellowgreen;
}
.inputBox {
    height: 3rem;
    font-size: 1.2rem;
    font-family:fantasy, sans-serif;
}
.submitButton {
    margin-left: 20px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family:fantasy, sans-serif;
}
.submitButton:hover {
    cursor: pointer;
}